$c-ef:#efd5b8;

.panel-write{
	padding:20px 20px 50px;
	.title-input{
		position:relative;
		.title{
			position:absolute;
			left:0;
			bottom:0;
			width:120px;
		}
		.input{
			input{
				font-size:15px;
			}
			padding:2px 10px;
			margin-left: 120px;
			display: block;
			border-bottom:1px solid darkgoldenrod
		}
	}
	.col-l{
		float:left;
	}
	.col-r{
		float:right;
	}
	.invisible{
		visibility:hidden;
	}
	.blog-write{
		position:relative;
		.submit-btn{
			position:absolute;
			bottom:-40px;
			right:0;
			color:white;
			padding:10px 15px;
			background:$c-ef;
			cursor:pointer;
			opacity:0.8;
			transition:all 1s;
			&:hover{
				opacity:1
			}
		}
	}
}