<!DOCTYPE html>
<html>
<head>
	<title><%- title %></title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<style>
		.clear-fix:after{
			content:'';
			clear:both;
			display: block
		}
		.nav{
			background:coral;
			padding:20px;
		}
		.nav li{
			cursor:pointer;
			padding:0 25px;
			margin:0 10px;
			float:left;
			transition: all .5s;
		}
		.nav li:hover{
			color:white;
		}
		.nav li.active{
			border-bottom:1px solid white;
		}
		.l-f{
			float:left;
			
		}
		.r-f{
			float:right;
		}
		.content{
			padding:10px;
			text-align:  center;
		}
	</style>
</head>
<body>
	<nav class="nav clear-fix">
		<ul class="l-f">
			<li>首页</li>
			<li>写博客</li>
			<li>关于作者</li>
		</ul>
		<ul class="r-f">
			<li>登录</li>
			<li>退出登录</li>
		</ul>
	</nav>
    <%- include(templateName) %>
	<script type="text/javascript" src='/js/index.js'></script>
</body>
</html>