<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slashhuang的技术博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="author" content="slashhuang">
    <meta name="description" content="slashhuang的技术博客">
    <meta property="og:type" content="website">
    <meta property="og:title" content="slashhuang的技术博客">
    <meta property="og:url" content="http://slashhuang.github.io/index.html">
    <meta property="og:site_name" content="slashhuang的技术博客">
    <meta property="og:description" content="slashhuang的技术博客">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="slashhuang的技术博客">
    <meta name="twitter:description" content="slashhuang的技术博客">
    <link rel="alternative" href="/atom.xml" title="slashhuang的技术博客" type="application/atom+xml">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/sunflower.jpg">
    <link rel="apple-touch-icon-precomposed" href="/img/sunflower.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <!-- markdown编辑器 -->
</head>
<body>
    <%- include('./module/header.html')%>
    <div id="container">
        <%- include(templateName)%>
    </div>
    <%- include('./module/footer.html')%>
    <div id="totop">
        <a title="返回顶部"><img src="/img/scrollup.png" /></a>
    </div>
   <script src="/dist/common.js"></script>
   <script src="/dist/<%- staticTag%>.js"></script>
</body>

</html>
