$e6:#e6e6e6;
$m-screen:648px; //适配ipad

@media screen and (min-width:$m-screen) {
   .blog-head{
        .blog-title{
            display: inline-block
        }
        .blog-category{
            display: inline-block;
            margin-left:20px;
        }
    }
}
.blog-head{
    .blog-title{
        color:#2ca6cb;
    }
    .blog-category{
        font-size:14px;
        vertical-align: bottom;
    }
    padding-bottom:2px;
    border-bottom:1px solid $e6;
}

$base:14px;
.markdown{
    $blue: #108ee9;
    $brow: #efd5b8;
    $l-gray:#808080;
    $d-green:#002b36;
    $s-light-gray:#839496;
    * {
       word-wrap:break-word;
       word-break:break-all
    }
    //设置h1到h6
    @for $i from 1 through 6 {
      h#{$i} {
        font-size:$base+12-$i*2;
        margin-top:2*$base - $i*2;
        margin-bottom:$base -$i*2
      }
    }
    p{
        font-size:$base+2px;
        line-height: 1.7em;
    }
    code{
        width: 100%;
        display: block;
        padding: 0.5em;
        background:  $d-green;
        color: $s-light-gray;
    }
    blockquote{
        border-left: 0.4em solid $brow;
        margin: .8em 0 .8em 1%;
        padding-left: 1%;
        line-height: 1.5;
        color: $l-gray;
    }
    a{
        color:$blue;
        background: transparent;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }
}









